{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">CreditHub</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <img src="../static/logo.png" alt="Company logo" class="center">
      <div class="starter-template">
        <h1>CreditHub - The loan that your company needs</h1>
        <p class="lead">Fast and easy loan application process with minimal information <br> 
        You will know if the credit has been approved within seconds. <br><br>

        Sign up and ask for your loan in less than 5 minutes.
        </p>
      </div>

    </div><!-- /.container -->
    <div style="position: absolute; bottom: 25px; right:25px; text-align: right">
    CreditHub Team 2020 <br>
    Jaime Ocón, Norberto Sánchez, Rafael Rojo, Álvaro Martínez
    </div>


{% endblock %}